{% extends "layouts/default.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Alert macros</h1>
            {% include "templates/alert.html" %}
            <h1>Breadcrumb macros</h1>
            {% include "templates/breadcrumb.html" %}
            <h1>Buttons</h1>
            {% include "templates/button.html" %}
            <h1>Cards</h1>
            {% include "templates/card.html" %}
            <h1>Carousel</h1>
            {% include "templates/carousel.html" %}
            <h1>Media</h1>
            {% include "templates/media.html" %}
            <h1>Modal</h1>
            {% include "templates/modal.html" %}
            <h1>Nav & Tab</h1>
            {% include "templates/nav.html" %}
            <h1>Pagination</h1>
            {% include "templates/pagination.html" %}
            <h1>Popover</h1>
            {% include "templates/popover.html" %}
            <h1>Progress</h1>
            {% include "templates/progress.html" %}
            <h1>Spinner</h1>
            {% include "templates/spinner.html" %}
            <h1>Toast</h1>
            {% include "templates/toast.html" %}
        </div>
    </div>
</div>
{% endblock %}